{% if page.nocomments %}
{% else %}
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
//   id: '页面 ID', // 可选。默认为 location.href
  owner: 'icedream2linxi',
  repo: 'icedream2linxi.github.io',
  oauth: {
    client_id: 'a419e92204bfe99ad3e7',
    client_secret: '5709a7269622c0d86b257e75707311fba132b256',
  },
})
gitment.render('container')
</script>
{% endif %}